.Main-Table{font-size:12px;background-color: #fff;}
.green {color: #28a745}
.openlink {height:13px;margin-top:-3px;margin-left:2px;}
.loadmore {background-color: #fff;box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);}